node_count = 2  # 생성할 인스턴스 개수

ami = "ami-063454de5fe8eba79"  # Ubuntu 22.04 LTS
instance_type = "t2.micro"
volume_size = 8  # GiB
tags = {
    Name = "ddd"
    Owner = "my-mail@gmail.com"
    Service = "servicecode"
}

key_name = "my-keypair"                                # my-EC2-public-key
private_key_path = "/home/ubuntu/.ssh/my-keypair.pem"  # my-EC2-private-key (pem)
work_cidr_blocks = ["0.0.0.0/32", ]

# EC2에서 실행중인 사설저장소 사용시 등록
nexus_instance_id  = "i-xxxxxxxx"
gitlab_instance_id = "i-xxxxxxxx"