##########################################################################
# 민감정보 git 커밋 주의
##########################################################################

##########################################################################
# 인스턴스 기본 정보
##########################################################################
node_count = 2  # 생성할 인스턴스 개수

subnet_id_list = ["subnet-xxxxx", ""]  # node_count 수 만큼 할당 필요
                                       # 미할당: 모든 인스턴스 subnet 자동 선택
                                       # "": subnet 자동 선택

ami = "ami-040c33c6a51fd5d96"  # Ubuntu 24.04 LTS
instance_type = "t3.medium"    # 최소권장 2core, 4GB mem (t3.medium)
volume_size = 8  # GiB
tags = {
    Name = "ddd"
    Owner = "my-mail@gmail.com"
    Service = "servicecode"
}

##########################################################################
# 인스턴스 접속 설정
##########################################################################
key_name = "my-keypair"                                # my-EC2-public-key
private_key_path = "/home/ubuntu/.ssh/my-keypair.pem"  # my-EC2-private-key (pem)
work_cidr_blocks = ["0.0.0.0/32", ]

# EC2 내 사설 저장소 접속 설정 (외부노출 주의)
nexus_instance_id = "i-xxxxxxxxxxxx"  # IP보다 인스턴스 id가 노출시 더 안전
nexus_sgroup_id   = "sg-0axxxxxxxxxxx" # nexus_allows_my_live_service  # "": 저장소 사용 안 함(default)
gitlab_sgroup_id  = "sg-06xxxxxxxxxxx" # gitlab_allows_my_live_service # "": 저장소 사용 안 함(default)